{% extends 'base.html' %}

{% block title %}Add Expense{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">
            <h3>Add Expense</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-danger">
                    Save Expense
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}